<li class="nav-item dropdown">
    <a class="nav-link dropdown-toggle text-white" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
        Projelerim
    </a>
    <ul class="dropdown-menu shadow-lg border-0 rounded-3" aria-labelledby="navbarDropdown">
        <li>
            <a class="dropdown-item py-2" asp-controller="Home" asp-action="WebApps">
                <i class='bx bx-globe me-2 text-primary'></i> Web Uygulamaları
            </a>
        </li>
        <li>
            <a class="dropdown-item py-2" asp-controller="Home" asp-action="Automation">
                <i class='bx bx-cog me-2 text-primary'></i> Otomasyon Araçları
            </a>
        </li>
        <li><hr class="dropdown-divider"></li>
        <li>
            <a class="dropdown-item py-2" asp-controller="Home" asp-action="Architectural">
                <i class='bx bx-building-house me-2 text-primary'></i> Mimari Çözümler
            </a>
        </li>
    </ul>
</li>